.hidden {
    display: none !important;
}

.settings-container {
    position:relative;
    text-align:right;
    margin: 20px;
}

.settings-icon-btn {
    font-size:24px;
    background: none;
    border:none;
    cursor:pointer;
}

.settings-dropdown {
    position:fixed;
    top:0;
    left:0;
    right:0;
    width: 100vw;
    height: 100vh;
    background:rgba(0,0,0,0.5);
    display:flex !important;
    justify-content: center;
    align-items: center;
    /* border:1px solid #ddd;
    padding:15px;
    border-radius: 12px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    text-align: left; */
    z-index: 100;
    
}

.settings-dropdown.hidden {
    display: none !important;
}

.settings-dropdown-content {
    background: #ffffff;
    width: 90%;
    max-width: 500px;
    padding: 40px;
    border-radius: 20ox;
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
    border-radius: 24px;


display:flex !important;
flex-direction: column !important;
text-aligh: left;
}

.settings-dropdown-content h3 {
    font-size:28px;
    margin-top:0;
    margin-bottom:35px;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom:15px;

}

.setting-item{
    display:flex !important;
    flex-direction:column !important;
    align-items: flex-start !important;
    margin-bottom:30px;
    width:100%;
}

.setting-item label {
    font-size:22px;
    font-weight: 600;
    margin-bottom:12px;
    color: #333333;

}

.setting-item select,
.setting-item button {
    font-size: 18px;
    padding:10px 18px;
    border-radius: 8px;
    cursor: pointer;
}

.rest-control {
    display: flex;
    align-items:center;
    gap:25px;
}

.rest-control span {
    font-size:22px;
    font-weight:bold;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .settings-card {
    background-color: #1e1e1e;
    color: #ffffff;
}

#settings-menu h3, #settings-menu label {
    color: #000000 !important;
}